
<body>
    <header class="main-header">
        <div class="logo">
            <a><H4>My Templet File Of Ang17</H4></a>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="#HomeComponent">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#tools">Tools</a></li>
                <li><a href="#publish">Publish</a></li>
                <li><a href="#log-in">log-in</a></li>
                <li><a href="#Sign-up">Sign-up</a></li>
            </ul>
        <button onmouseover="style(this, 'border-radius', 'right');" onclick="blur">☰</button>
        
        </nav>

        
        
    </header>

</body>