
<body>
    <header class="main-header">
        <div class="logo">
            <a><H4>My Templet File Of Ang17</H4></a>
        </div>
        <nav class="nav-menu">
            <ul>
                <li><a href="#HomeComponent">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#tools">Tools</a></li>
                <li><a href="#publish">Publish</a></li>
            </ul>
        </nav>
        <button onmouseover="style(this, 'display', 'none');" onclick="blur">☰</button>
    </header>

</body>